*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
.brand{
    border: 3px solid #7510F7;
    border-right: 0;
    border-top: 0;
    text-align: center;
    color: #7510F7;
    cursor: pointer;
}
.brand:hover {
    border-right: 3px solid #7510F7;
    border-top: 3px solid #7510F7;
    border-left: 0;
    border-bottom: 0;
}
.brand{
    display: inline-block;
    transition: all linear .3s;
}
.navbar-nav{
    column-gap: 2em;
    row-gap: 3em;
    text-align: center;
}
.resume{
    border: 2px solid #9E57F9;
}
.navbar-nav li:hover {
    letter-spacing: 0.25rem;
}
.navbar-nav li {
    display: inline-block;
    transition: all linear .3s;
}
.top{
    height: 100vh;
}
/* .about{
    border: 1px solid blue;
} */
.about-container{
    /* border: 1px solid red; */
    display: grid;
    max-width: 700px;
    margin: auto;
    padding: 5em 0;
}
.hi{
    color: #7510F7;
    font-weight: 700;
    font-size: 0.9em;
}
.name{
    color: #121A38;
    font-weight: 700;
}
.about-head{
    color: #657883;
    font-weight: 700;
    margin-top: 0.2em;
}
.about-content{
    color: #657883;
    font-size: 1em;
    max-width: 450px;
    margin-top: 0.2em;
}
.butn{
    width: fit-content;
    margin: auto;
}
.btn{
    color: #7510F7;
    border: 1px solid #7510F7;
}
.btn:hover{
    background-color: #7510F7;
    color: #ffffff;
}
.wwtbam{
    display: flex;
}
.projects-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.project{
    border: 1px solid red;
    height: 200px;
}
#wwtbam{
    background-image: url(/img/wwtbam.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#weather{
    background-image: url(/img/weather.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bankapp{
    background-image: url(/img/bankapp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#signup{
    background-image: url(/img/signup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}