*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
.navbar-nav{
    column-gap: 3em;
    row-gap: 3em;
    text-align: center;
}
.resume{
    border: 1px solid #7510F7;
}
.navbar-nav li:hover {
    letter-spacing: 0.25rem;
}
.navbar-nav li {
    display: inline-block;
    transition: all linear .3s;
}